body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.note{
  background-color: rgb(246, 179, 246);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 170px;
  white-space: pre-wrap;
}
.note-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 960px;
}
.note.new{
  background-color: rgb(165, 214, 245);
}
textarea{
  border: none;
  background-color: rgb(165, 214, 245);
  resize: none;
}
textarea:focus{
  outline: none;
}
.save{
  border-radius: 15px;
  background-color: rgb(219, 219, 219);
  border: none;
  padding: 5px 10px 5px 10px;
}
.save:hover{
  background-color: rgb(199, 199, 199);
  cursor: pointer;
}
.delete-icons:hover{
  color: rgb(109, 104, 104);
  cursor: pointer;
}
.search{
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;padding: 5px;
}
.search input{
  border: none;
  background-color: rgb(226, 226, 226) ;
}
.search input:focus{
  outline: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode{
  background-color: black;
}
.dark-mode h1{
  color: white;
}